.center{
    text-align: center;
    margin: 10px auto 10px auto;
    max-width: 300px;
    padding: 10px;
}

.btn{
    background-color: #b91456 ;
    color: #f7d6e7;
    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;
}